body {
	color: rgb(85, 85, 85);
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

.h1 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

h2 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

.h2 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

h3 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

.h3 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

h4 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

.h4 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

h5 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

.h5 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

h6 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

.h6 {
	color: rgb(51, 51, 51);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0px;
}

@media all and (min-width:1200px) {
	.container {
		width: 1100px;
	}
}

.blog-masthead {
	box-shadow: inset 0px -2px 5px rgba(0,0,0,0.1);
	background-color: rgb(66, 139, 202);
	-webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

.blog-nav-item {
	padding: 10px;
	color: rgb(205, 221, 235);
	font-weight: 500;
	display: inline-block;
	position: relative;
}

.blog-nav-item:hover {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.blog-nav-item:focus {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.blog-nav .active {
	color: rgb(255, 255, 255);
}

.blog-nav .active::after {
	left: 50%;
	width: 0px;
	height: 0px;
	bottom: 0px;
	margin-left: -5px;
	vertical-align: middle;
	border-right-color: transparent;
	border-bottom-color: currentColor;
	border-left-color: transparent;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	position: absolute;
	content: " ";
}

.blog-header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.blog-title {
	font-size: 60px;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 0px;
}

.blog-description {
	color: rgb(153, 153, 153);
	font-size: 20px;
}

.blog-main {
	line-height: 1.5;
	font-size: 18px;
}

.sidebar-module {
	margin: 0px -15px 15px;
	padding: 15px;
}

.sidebar-module-inset {
	padding: 15px;
	border-radius: 4px;
	background-color: rgb(245, 245, 245);
}

.sidebar-module-inset p:last-child {
	margin-bottom: 0px;
}

.sidebar-module-inset ul:last-child {
	margin-bottom: 0px;
}

.sidebar-module-inset ol:last-child {
	margin-bottom: 0px;
}

.pager {
	text-align: left;
	margin-bottom: 60px;
}

.pager > li > a {
	padding: 10px 20px;
	border-radius: 30px;
	width: 140px;
	text-align: center;
}

.blog-post {
	margin-bottom: 60px;
}

.blog-post-title {
	font-size: 40px;
	margin-bottom: 5px;
}

.blog-post-meta {
	color: rgb(153, 153, 153);
	margin-bottom: 20px;
}

.blog-footer {
	padding: 40px 0px;
	text-align: center;
	color: rgb(153, 153, 153);
	border-top-color: rgb(229, 229, 229);
	border-top-width: 1px;
	border-top-style: solid;
	background-color: rgb(249, 249, 249);
}

.blog-footer p:last-child {
	margin-bottom: 0px;
}

a[data-href], a[data-id], a[ng-click]  {
	cursor: pointer;
}

.blockUI {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 99999;
	display: none;
	cursor: wait;
}
.blockUI .blockUI-message {
	background: #ddd;
	opacity: 0.7;
	margin: 0;
	padding: 4px;
}
