﻿<div>
	<ol class="breadcrumb">
		<li>Главная</li>
		<li class="active">Департаменты</li>
	</ol>
	<div data-id="departments-view-container"></div>
</div>
<script type="text/javascript" src="/controllers/departments/all.js"></script>
