﻿<div>
	<ol class="breadcrumb">
		<li>Главная</li>
		<li class="active">Менеджеры</li>
	</ol>
	<div data-id="persons-view-container"></div>
</div>
<script type="text/javascript" src="/controllers/persons/all.js"></script>
