﻿<div>
	<ol class="breadcrumb">
		<li>Главная</li>
		<li>Менеджеры</li>
		<li class="active">Редактирование</li>
	</ol>
	<br />
	<div data-id="persons-edit-view-container"></div>
</div>
<script type="text/javascript" src="/controllers/persons/edit.js"></script>
