﻿<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ItExpertApp">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>ItExpert - Управление данными</title>

	<link rel="stylesheet" type="text/css" href="/third-party/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/third-party/angularjs/angular-growl/build/angular-growl.min.css" />
	<link rel="stylesheet" type="text/css" href="/resources/app.css" />
</head>
<body ng-controller="usersController">
	<div class="blog-masthead">
		<div class="container">
			<nav class="blog-nav" id="app-main-nav">
				<a class="blog-nav-item" href="#/">Пользователи</a>
				<a class="blog-nav-item" href="#/persons">Менеджеры</a>
				<a class="blog-nav-item" href="#/companies">Организации</a>
				<a class="blog-nav-item" href="#/departments">Департаменты</a>
				<a class="blog-nav-item" href="#/positions">Вакансии</a>
			</nav>
		</div>
	</div>
	<div class="container">
		<div class="blog-header">
			<h1 class="blog-title">It Expert</h1>
			<p class="lead blog-description">
				Удобное управление данными. <a href="/">Клиент NativeJS It Expert находится тут.</a>
			</p>
		</div>
		<div class="row">
			<div class="col-md-10 blog-main">
				<div class="blog-post small">
					<div>
						<ol class="breadcrumb">
							<li>Главная</li>
							<li class="active">{{ title }}</li>
						</ol>
					</div>
					<div id="main-view" ng-view></div>
				</div>
			</div>
			<div class="col-md-2 blog-sidebar">
				<div class="sidebar-module sidebar-module-inset">
					<h4>Важно</h4>
					<p>
						Данный клиент написан с помощью параметризации.
						Серверная часть использует C# Generics.
						Клиентская часть генерирует разметку таблиц и форм на лету.
					</p>
				</div>
				<div class="sidebar-module">
					<h4>Архив</h4>
					<ol class="list-unstyled">
						<li><a>Март 2014</a></li>
						<li><a>Февраль 2014</a></li>
						<li><a>Январь 2014</a></li>
						<li><a>Декабрь 2013</a></li>
					</ol>
				</div>
				<div class="sidebar-module">
					<h4>Ресурсы</h4>
					<ol class="list-unstyled">
						<li><a>GitHub</a></li>
						<li><a>Twitter</a></li>
						<li><a>Facebook</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<footer class="blog-footer">
		<p>
			Данный клиент сделан для <a href="#/">ItExpert</a> by <a href="#/">@Dmitry Kulikov</a>
		</p>
		<p>
			<a href="#/">Наверх</a>
		</p>
	</footer>
	<div growl></div>
	<script type="text/javascript" src="/third-party/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="/third-party/angularjs/angular-route.min.js"></script>
	<script type="text/javascript" src="/third-party/angularjs/angular-growl/build/angular-growl.min.js"></script>
	<script type="text/javascript" src="/scripts/angular-app.js"></script>
</body>
</html>
