﻿<div>
	<ol class="breadcrumb">
		<li>Главная</li>
		<li class="active">Организации</li>
	</ol>
	<div data-id="companies-view-container"></div>
</div>
<script type="text/javascript" src="/controllers/companies/all.js"></script>
