﻿<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Заполните поля:</h3>
	</div>
	<div style="max-width: 600px;" class="panel-body">
		<form ng-submit="submit()">
			<input ng-model="model.Id" type="hidden" />
			<div class="form-group">
				<label class="control-label">Название:</label>
				<div>
					<input
						type="text"
						ng-model="model.Name"
						class="form-control"
						required />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Организация:</label>
				<div>
					<select 
						class="form-control"
						ng-model="model.CompanyId"
						ng-options="option.Id as option.Name for option in Companies"></select>
				</div>
			</div>
			<input value="Сохранить" class="btn btn-primary" type="submit" />
		</form>
	</div>
</div>
