﻿<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Заполните поля:</h3>
	</div>
	<div style="max-width: 600px;" class="panel-body">
		<form ng-submit="submit()">
			<input ng-model="model.Id" type="hidden" />
			<div class="form-group" ng-repeat="field in fields">
				<label class="control-label">{{field.label}}</label>
				<div>
					<input 
						type="{{field.type}}"
						ng-model="model[field.name]"
						class="form-control"
						required />
				</div>
			</div>
			<input value="Сохранить" class="btn btn-primary" type="submit" />
		</form>
	</div>
</div>
