﻿<div>
	<a ng-href="#{{editUrl}}/" class="btn btn-default">Создать</a>
</div>
<br>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th ng-repeat="field in fields">{{field.caption}}</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in data">
				<td ng-repeat="field in fields">{{item[field.name]}}
				</td>
				<td>
					<a ng-href="#{{editUrl}}/{{item.Id}}">ред.</a> /
						 <a ng-click="removeItem($index, item)">уд.</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
