﻿<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Заполните поля:</h3>
	</div>
	<div style="max-width: 600px;" class="panel-body">
		<form ng-submit="submit()">
			<input ng-model="model.Id" type="hidden" />
			<div class="form-group">
				<label class="control-label">Псевдоним:</label>
				<div>
					<input
						type="text"
						ng-model="model.NickName"
						class="form-control"
						required />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Менеджер:</label>
				<div>
					<select 
						class="form-control"
						ng-model="model.PersonId"
						ng-options="option.Id as (option.FirstName + ' ' + option.LastName) for option in Persons"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Департамент:</label>
				<div>
					<select 
						class="form-control"
						ng-model="model.DepartmentId"
						ng-options="option.Id as option.Name for option in Departments"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Должность:</label>
				<div>
					<select 
						class="form-control"
						ng-model="model.PositionId"
						ng-options="option.Id as option.Name for option in Positions"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Супер-пользователь:</label>
				<div>
					<select 
						class="form-control"
						ng-model="model.SuperUserId"
						ng-options="option.Id as option.NickName for option in Users"></select>
				</div>
			</div>
			<input value="Сохранить" class="btn btn-primary" type="submit" />
		</form>
	</div>
</div>
