﻿<div>
	<ol class="breadcrumb">
		<li>Главная</li>
		<li class="active">Вакансии</li>
	</ol>
	<div data-id="positions-view-container"></div>
</div>
<script type="text/javascript" src="/controllers/positions/all.js"></script>
