﻿<div>
	<ol class="breadcrumb">
		<li>Главная</li>
		<li class="active">Пользователи</li>
	</ol>
	<div data-id="users-view-container"></div>
</div>
<script type="text/javascript" src="/controllers/users/all.js"></script>
