﻿<div>
	<ol class="breadcrumb">
		<li>Главная</li>
		<li>Пользователи</li>
		<li class="active">Редактирование</li>
	</ol>
	<br />
	<div data-id="users-edit-view-container"></div>
</div>
<script type="text/javascript" src="/controllers/users/edit.js"></script>
